<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sharing with UIActivityViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46DF4F771BE25735009737FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46DF4F8B1BE25735009737FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46DF4F961BE25735009737FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
