<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISegmentedControl to switch screens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>467837301BE225D00054CBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467837441BE225D00054CBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4678374F1BE225D00054CBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
